html{
    height:100%;
}

body{
    height:100%;
    margin:0;
    padding:0;
    background-image: url(../images/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    flex-direction: column;
    background-color: #a580804a;
}

.weather-border{
    box-shadow: 10px 10px #33333336;
}

.city, .date, .temp, .weather, .hi-low{
    font-size: 22px;
    font-weight: 600;
}

.search-box,
.search-box:focus{
    box-shadow: 7px 7px #33333336;
}

.form-control,
.form-control:focus{
    border: none;
}

.city-bg{
    background-color:#ffffffa6;
}

.date-bg{
    background-color: #ffffff52;
    flex-direction: column;
    padding: .2rem;
}

.icon-bg{
    background-color: #ffffff2e;
    flex-direction: column;
    padding: 1.5rem;
}

.form-width{
width:50%;
}

#wicon{
    width:20%;
}

@media screen and (max-width:1277px){
    .city, .date, .temp, .weather, .hi-low{
        font-size: 16px;
        font-weight: 600;
    }
}

@media screen and (max-width:990px){
    .form-width{
        width:100%;
    }
    .icon-bg{

        padding: .5rem 1.5rem 0rem 1.5rem;
    }
    .date-bg{
        background-color: #ffffff2e;
        order:2;
        padding: 0.2rem 0.2rem 1.2rem 0.2rem;
    }
}